/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
.home__text {
    font-size: 20px;
}

.works {
    & .work {
        &__text {
            &--description {
                padding-bottom: 25px;
            }
        }
    }
}
