// /******************************************************************

// Stylesheet: 600px以上のタブレットやモニタで適用

// ******************************************************************/

.main-title {
    font-size: 40px;
}

.sub-title {
    font-size: 30px;
}

.home {
    &__text {
        font-size: 35px;
    }
}

.profile {
    &__description {
        &--name {
            font-size: 40px;
        }
        &--work {
            font-size: 25px;
        }
        &--jp {
            font-size: 17px;
            margin: 5% 10%;
        }
        &--en {
            font-size: 17px;
            margin: 5% 10%;
            font-size: 20px;
        }
    }
}
.about {
    &__description {
        font-size: 20px;
        width: 350px;
    }
}

.works {
    .work {
        &__text {
            &--title {
                font-size: 30px;
            }
            &--description {
                font-size: 20px;
            }
            &--process {
                font-size: 20px;
            }
        }
    }
}

.footer {
    &__li {
        font-size: 20px;
    }
}
