/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
    font-family: "Sawarabi Gothic", sans-serif;
}

#global-container {
    overflow: hidden;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: $cBlack;
    text-decoration: none;
    &:hover {
        color: $cBlack;
        text-decoration: none;
    }
    &.anchor {
        display: block;
        padding-top: 130px;
        margin-top: -130px;
        color: $cBlack !important;
    }
}

.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 17px;
}
.font-lr {
    font-size: 17px;
}
.font-lg {
    font-size: 25px;
}
.mb-sm {
    margin-bottom: 16px !important;
}
.mb-md {
    margin-bottom: 50px !important;
}
.mb-lg {
    margin-bottom: 80px !important;
}
.pb-sm {
    padding-bottom: 16px !important;
}
.pb-lg {
    padding-bottom: 80px !important;
}
.content-width {
    width: 85%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}
.flex {
    display: flex;
    flex-direction: column;
}

.main-title {
    //@extend .font-lg;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    display: block;
}

.sub-title {
    @extend .font-lg;
    font-weight: 500;
    margin-bottom: 10px;
    color: $cBlack;
    text-align: center;
}
.boxshadow {
    box-shadow: -4px -4px 7px $cSmokeWhite, 4px 4px 7px $cGray;
}
.icon-base {
    @extend .boxshadow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.btn-hover {
    box-shadow: -2px -2px 3px $cSmokeWhiteFB, 2px 2px 3px $cGray;
}

.btn-active {
    box-shadow: inset 2px 2px 2px $cGray, inset -2px -2px 2px $cSmokeWhiteFB;
}

#main-content {
    position: relative;
    z-index: 0;
}

main {
    position: relative;
    z-index: -1;
}

#container {
    background-color: $cWhite;
    position: relative;
    z-index: 10;
    transition: transform 0.5s, box-shadow 0.5s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: transparent;

    display: flex;
    align-items: center;
    z-index: 100;

    &.triggered {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
    }

    &__nav {
        display: none;
    }

    &__ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        margin: 20px;

        & > a {
            color: $cBlack;
            text-decoration: none !important;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $cBlue;
                text-shadow: 0 0 7px $cNavyBlue;
            }
        }
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 0 auto;
        //margin-right: 5%;
        max-width: $contentMaxWidth;
    }
}

.home {
    font-family: "Raleway", sans-serif;
    @extend .content-width;
    @extend .mb-lg;
    width: 100%;
    height: 100vh;
    position: relative;
    color: $cBlack;

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    &__text {
        margin: 0;
        left: 0;
        font-weight: bold;
        font-size: 25px;
    }
    // &__circle {
    //     @extend .boxshadow;
    //     border-radius: 50%;
    //     width: 300px;
    //     height: 300px;
    //     // padding: 10%;
    // }
}

.hero {
    overflow: hidden;
    padding-top: $navHeight;
    @extend .pb-lg;

    &__footer {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 2;
        height: 68px;
        width: 22px;
        overflow: hidden;
        //background-color: red;
    }

    &__downarrow {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 6px;
        @include animation($name: kf-arrow-anime, $iteration-count: infinite, $duration: 2s, $timing-function: linear);
    }

    &__scrolltext {
        position: absolute;
        transform: rotate(90deg);
        color: $cBlack;
        left: -8px;
        top: 11px;
        font-size: 1.2em;
    }
}

@keyframes kf-arrow-anime {
    0%,
    100% {
        transform: translateY(-10%);
    }
    50% {
        transform: none;
    }
}

.profile {
    @extend .content-width;
    @extend .mb-lg;

    &__inner {
        padding: 50px;
        border-radius: 20px;

        @extend .boxshadow;
    }

    & img {
        padding: 10%;
        border-radius: 50%;
    }

    &__description {
        &--name {
            font-family: "PT Sans", sans-serif;
            font-size: 30px;
            color: $cBlack;
            text-align: center;
        }
        &--work {
            color: $cSubTitle;
            font-size: 20px;
            text-align: center;
        }
        &--jp {
            color: $cSubText;
            margin: 10% 0;
        }
        &--en {
            color: $cSubText;
            margin: 10% 0;
            font-size: 20px;
        }
    }
}

.about {
    @extend .content-width;
    @extend .mb-lg;
    @extend .flex;
    &__description {
        margin: 0 auto;
        width: 250px;
        &--text {
            color: $cSubText;
        }
    }
    &__inner {
        & .fas {
            font-size: 100px;
            padding: 20%;
            color: $cIconBlue;
        }
        & .design {
            @extend .mb-lg;
            &__icon {
                @extend .icon-base;
                @extend .mb-sm;
            }
        }
        & .coding {
            @extend .mb-lg;
            &__icon {
                @extend .icon-base;
                @extend .mb-sm;
            }
        }
        & .project {
            @extend .mb-lg;
            &__icon {
                @extend .icon-base;
                @extend .mb-sm;
            }
        }
        & .management {
            @extend .mb-lg;
            &__icon {
                @extend .icon-base;
                @extend .mb-sm;
            }
        }
        & .teamwork {
            &__icon {
                @extend .icon-base;
                @extend .mb-sm;
            }
        }
    }

    & .main-title {
        text-align: right;
    }
}

.skills {
    @extend .content-width;
    @extend .mb-lg;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &--icon {
            @extend .boxshadow;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        &--content {
            text-align: center;
        }

        & img {
            height: 50px;
            width: 50px;
            margin: 5px;
        }
    }
}

.works {
    @extend .content-width;
    @extend .mb-lg;

    & .work {
        margin: 0 auto;
        @extend .boxshadow;
        @extend .mb-md;
        border-radius: 20px;

        &__inner {
            position: relative;
            height: 100%;
            padding: 40px;
        }

        &__img {
            box-shadow: inset 0 0 10px #888888;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            position: relative;

            &:hover {
                & img {
                    transform: translateY(100%);
                }
                .view {
                    transform: translateY(0);
                }
            }
            .view {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-100%);
                transition: all 800ms ease 0s;
                font-size: 30px;
            }
        }

        & img {
            position: relative;
            z-index: -10;
            border-radius: 10px;
            transition-delay: 0s !important;
        }

        &__text {
            margin-top: 10%;
            margin-bottom: 5%;
            &--title {
                color: $cBlack;
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 5%;
            }
            &--description {
                color: $cSubText;
                font-size: 20px;
                margin-top: 10px;
                padding-bottom: 20px;
            }
            &--process {
                position: absolute;
                font-size: 20px;
                bottom: 0;
                right: 0;
                padding: 40px;
                color: $cSubTitle;

                & a {
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        color: $cBlue;
                        text-shadow: 0 0 7px $cNavyBlue;
                    }
                }
            }
        }
    }

    & .main-title {
        text-align: right;
    }
}

.contact {
    @extend .content-width;
    @extend .mb-md;

    &__inner {
        @extend .boxshadow;
        border-radius: 50px;
        text-align: center;
        padding: 20px;
        margin: 30px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            @extend .btn-hover;
        }
        &:active {
            @extend .btn-active;
        }
    }
    &__twitter {
        font-size: 25px;

        & .fab {
            color: #00acee;
        }
    }
    &__github {
        font-size: 25px;
        & .fab {
            color: $cBlack;
        }
    }
}

.footer {
    @extend .content-width;
    @extend .mb-md;

    &__nav {
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__ul {
        @extend .flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__li {
        padding: 0;
        margin: 10px;

        & > a {
            text-decoration: none !important;
            color: $cSubText;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $cBlue;
                text-shadow: 0 0 7px $cNavyBlue;
            }
        }
    }

    &__copyright {
        margin-top: 20px;
        color: $cSubText;
    }
}
