$cWhite: white;
$cSmokeWhite: #f9f9f9;
$cSmokeWhiteFB: #fbfbfb;
$cBlack: black;
$cGray: #ccc;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cBlue: #2dd9fe;
$cNavyBlue: #00a3d5;
$contentMaxWidth: 1070px;
$navHeight: 100px;
