@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.appear.down .item {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
}

.mobile-menu__btn {
  margin: 0 15px 0 auto;
  background-color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: none;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 30px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 50px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  font-size: 35px;
  text-decoration: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-menu__link:hover {
  color: #2dd9fe;
  text-shadow: 0 0 7px #00a3d5;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__item:nth-child(6) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

.menu-open .mobile-menu__btn > span {
  background-color: black;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(9px) rotate(135deg);
          transform: translateY(9px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Nunito", sans-serif;
  font-family: "Sawarabi Gothic", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a.anchor {
  display: block;
  padding-top: 30px;
  margin-top: -30px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .sub-title {
  font-size: 25px;
}

.mb-sm, .about__inner .design__icon, .about__inner .coding__icon, .about__inner .project__icon {
  margin-bottom: 16px !important;
}

.mb-md, .works .work, .contact, .footer {
  margin-bottom: 50px !important;
}

.mb-lg, .home, .profile, .about, .about__inner .design, .about__inner .coding, .skills, .works {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg, .hero {
  padding-bottom: 80px !important;
}

.content-width, .home, .profile, .about, .skills, .works, .contact, .footer {
  width: 85%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .about, .footer__nav, .footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 50px;
  display: block;
}

.sub-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #535353;
  text-align: center;
}

.boxshadow, .mobile-menu__btn, .icon-base, .about__inner .design__icon, .about__inner .coding__icon, .about__inner .project__icon, .profile__inner, .skills__inner--icon, .works .work, .contact__inner {
  -webkit-box-shadow: -4px -4px 7px #f9f9f9, 4px 4px 7px #ccc;
          box-shadow: -4px -4px 7px #f9f9f9, 4px 4px 7px #ccc;
}

.icon-base, .about__inner .design__icon, .about__inner .coding__icon, .about__inner .project__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.btn-hover, .mobile-menu__btn:hover, .contact__inner:hover {
  -webkit-box-shadow: -2px -2px 3px #fbfbfb, 2px 2px 3px #ccc;
          box-shadow: -2px -2px 3px #fbfbfb, 2px 2px 3px #ccc;
}

.btn-active, .mobile-menu__btn:focus, .contact__inner:active {
  -webkit-box-shadow: inset 2px 2px 2px #ccc, inset -2px -2px 2px #fbfbfb;
          box-shadow: inset 2px 2px 2px #ccc, inset -2px -2px 2px #fbfbfb;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

#container {
  background-color: white;
  position: relative;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header.triggered {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  margin: 20px;
}

.header__li > a {
  color: black;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__li > a:hover {
  color: #2dd9fe;
  text-shadow: 0 0 7px #00a3d5;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  max-width: 1070px;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.home__text {
  margin: 0;
  left: 0;
  font-weight: bold;
  font-size: 25px;
}

.hero {
  overflow: hidden;
  padding-top: 100px;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  height: 68px;
  width: 22px;
  overflow: hidden;
}

.hero__downarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6px;
  -webkit-animation-name: kf-arrow-anime;
          animation-name: kf-arrow-anime;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero__scrolltext {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: black;
  left: -8px;
  top: 11px;
  font-size: 1.2em;
}

@-webkit-keyframes kf-arrow-anime {
  0%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-arrow-anime {
  0%,
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
}

.profile__inner {
  padding: 50px;
  border-radius: 20px;
}

.profile img {
  padding: 10%;
  border-radius: 50%;
}

.profile__description--name {
  font-size: 30px;
  letter-spacing: -1px;
  text-align: center;
}

.profile__description--work {
  color: gray;
  font-size: 20px;
  text-align: center;
}

.profile__description--jp {
  margin: 10% 0;
}

.profile__description--eg {
  margin: 10% 0;
  font-size: 20px;
}

.about__description {
  margin: 0 auto;
  width: 250px;
}

.about__inner .fas {
  font-size: 100px;
  padding: 20%;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills__inner--icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.skills__inner--content {
  text-align: center;
}

.skills__inner img {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.works .work {
  margin: 0 auto;
  border-radius: 20px;
  padding: 40px;
}

.works .work__img {
  -webkit-box-shadow: inset 0 0 10px #888888;
          box-shadow: inset 0 0 10px #888888;
  border-radius: 10px;
}

.works .work img {
  position: relative;
  z-index: -10;
  border-radius: 10px;
}

.works .work__text {
  margin-top: 10%;
}

.works .work__text--title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5%;
}

.works .work__text--description {
  font-size: 15px;
  margin-top: 10px 0;
}

.contact__inner {
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  margin: 0 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact__twitter {
  font-size: 25px;
}

.contact .fab {
  color: #00acee;
}

.footer__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__li {
  padding: 0;
  margin: 10px;
}

.footer__li > a {
  text-decoration: none !important;
  color: #535353;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__li > a:hover {
  color: #2dd9fe;
  text-shadow: 0 0 7px #00a3d5;
}

.footer__copyright {
  margin-top: 20px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  .main-title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 30px;
  }
  .home__text {
    font-size: 30px;
  }
  .profile__description--name {
    font-size: 40px;
    letter-spacing: -1px;
  }
  .profile__description--work {
    color: gray;
    font-size: 25px;
  }
  .profile__description--jp {
    font-size: 17px;
    margin: 5% 10%;
  }
  .profile__description--eg {
    font-size: 17px;
    margin: 5% 10%;
    font-size: 20px;
  }
  .about__description {
    font-size: 20px;
    width: 350px;
  }
  .works .work__text--title {
    font-size: 30px;
  }
  .works .work__text--description {
    font-size: 20px;
  }
  .footer__li {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  a.anchor {
    display: block;
    padding-top: 130px;
    margin-top: -130px;
  }
  .header {
    background: #fffffff0;
    -webkit-box-shadow: 0px 0px 20px 0px #9c9c9c;
            box-shadow: 0px 0px 20px 0px #9c9c9c;
  }
  .header__inner {
    margin: 0 auto;
  }
  .home__text {
    font-size: 40px;
  }
  .main-title {
    font-size: 45px;
  }
  .profile__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    max-width: 1070px;
  }
  .profile__description {
    right: 0;
    width: 50%;
    margin: auto;
  }
  .profile__img {
    margin: auto;
    width: 50%;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__description {
    margin: 0 auto;
    width: 250px;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__inner .fas {
    font-size: 100px;
    padding: 20%;
  }
  .about__inner .design {
    width: 250px;
    margin-bottom: 0 !important;
  }
  .about__inner .coding {
    width: 250px;
    margin-bottom: 0 !important;
  }
  .about__inner .project {
    width: 250px;
    margin-bottom: 0 !important;
  }
  .works__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .works .work {
    width: 400px;
  }
  .works .work__text--title {
    font-size: 25px;
    font-weight: 700;
  }
  .works .work__text--description {
    font-size: 20px;
  }
  .footer {
    margin-top: 160px;
  }
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 15px;
  }
  .footer__copyright {
    margin: 0;
  }
  .header__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
}

@media (min-width: 1280px) {
  .works .work {
    width: 500px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */