.pace-done #global-container {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.pace .pace-progress {
  -webkit-transform: none !important;
          transform: none !important;
  text-align: center;
}

.pace .pace-progress::after {
  content: attr(data-progress-text);
  display: block;
  font-weight: 100;
  font-size: 2em;
  font-family: "Helvetica Neue", "Yu Gothic", "Meiryo", sans-serif;
  color: #888888;
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  position: relative;
  left: -9999px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #112344;
  color: #112344;
  -webkit-box-shadow: 9999px 0 0 0 #112344;
          box-shadow: 9999px 0 0 0 #112344;
  -webkit-animation: dot-falling 1s infinite linear;
          animation: dot-falling 1s infinite linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.pace-progress-inner::before, .pace-progress-inner::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.pace-progress-inner::before {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #112344;
  color: #112344;
  -webkit-animation: dot-falling-before 1s infinite linear;
          animation: dot-falling-before 1s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.pace-progress-inner::after {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #112344;
  color: #112344;
  -webkit-animation: dot-falling-after 1s infinite linear;
          animation: dot-falling-after 1s infinite linear;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes dot-falling {
  0% {
    -webkit-box-shadow: 9999px -30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9999px -30px 0 0 rgba(17, 35, 68, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9999px 0 0 0 #112344;
            box-shadow: 9999px 0 0 0 #112344;
  }
  100% {
    -webkit-box-shadow: 9999px 30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9999px 30px 0 0 rgba(17, 35, 68, 0);
  }
}

@keyframes dot-falling {
  0% {
    -webkit-box-shadow: 9999px -30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9999px -30px 0 0 rgba(17, 35, 68, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9999px 0 0 0 #112344;
            box-shadow: 9999px 0 0 0 #112344;
  }
  100% {
    -webkit-box-shadow: 9999px 30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9999px 30px 0 0 rgba(17, 35, 68, 0);
  }
}

@-webkit-keyframes dot-falling-before {
  0% {
    -webkit-box-shadow: 9969px -30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9969px -30px 0 0 rgba(17, 35, 68, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9969px 0 0 0 #112344;
            box-shadow: 9969px 0 0 0 #112344;
  }
  100% {
    -webkit-box-shadow: 9969px 30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9969px 30px 0 0 rgba(17, 35, 68, 0);
  }
}

@keyframes dot-falling-before {
  0% {
    -webkit-box-shadow: 9969px -30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9969px -30px 0 0 rgba(17, 35, 68, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 9969px 0 0 0 #112344;
            box-shadow: 9969px 0 0 0 #112344;
  }
  100% {
    -webkit-box-shadow: 9969px 30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 9969px 30px 0 0 rgba(17, 35, 68, 0);
  }
}

@-webkit-keyframes dot-falling-after {
  0% {
    -webkit-box-shadow: 10029px -30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 10029px -30px 0 0 rgba(17, 35, 68, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 10029px 0 0 0 #112344;
            box-shadow: 10029px 0 0 0 #112344;
  }
  100% {
    -webkit-box-shadow: 10029px 30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 10029px 30px 0 0 rgba(17, 35, 68, 0);
  }
}

@keyframes dot-falling-after {
  0% {
    -webkit-box-shadow: 10029px -30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 10029px -30px 0 0 rgba(17, 35, 68, 0);
  }
  25%,
  50%,
  75% {
    -webkit-box-shadow: 10029px 0 0 0 #112344;
            box-shadow: 10029px 0 0 0 #112344;
  }
  100% {
    -webkit-box-shadow: 10029px 30px 0 0 rgba(17, 35, 68, 0);
            box-shadow: 10029px 30px 0 0 rgba(17, 35, 68, 0);
  }
}
/*# sourceMappingURL=loader.css.map */